body{
  background-image: url(https://live.staticflickr.com/5058/5430638402_47f7aeac9f_z.jpg);
  color: greenyellow;
  background-repeat: no-repeat;
  background-position: center;
 background-attachment: fixed;
 background-size: cover;
}
.i{
    background-color: green;
    color: black;
    font-weight: bold;  

}
