.box {
    width: 150px;
    height: 150px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #4CAF50;
    position: relative;
  }
  
  .box1 {
    margin: 200px 0 50px 300px; 
  }
  
  .box2 {
    margin: 100px 0 20px 400px; 
  }