.heding{
    color: rgb(0, 0, 0);
    font-size: 90px;
    text-align: center;
    font-family: fantasy;
}

body{
    background-color: rgb(145, 126, 126);
}

.p1{
    color: rgba(0, 0, 0, 0.856);;
    font-size: 45px;
    text-align: center;
    font-family:unset;
    
}