
body{
    color: black;
    font-weight: bold;
    background-color: blueviolet;
    background-size: cover;
    font-size: 30px;
 }
 .w{
    text-align: center;
    font-size: 50px;
 }
 .e{
    font-size: 25px;
    background-color: rgb(72, 11, 129);
 }